#CryptoTitle {
	position: absolute;
	top: 0;
	left: 0;
	height: 75px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	line-height: 100px;
	color: rgba(25, 50, 50, 0.75);
	overflow: hidden;
}
#CryptoMoto {
	position: absolute;
	top: 75px;
	left: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	color: rgba(25, 50, 50, 0.75);
	overflow: hidden;
}
#simpleswap-frame {
	position: absolute;
	top: 150px;
	left: 5%;
	height: calc(100% - 175px);
	width: 90%;
	border-radius: 25px;
}
#paxful {
	position: absolute;
	top: 150px;
	left: 70%;
	height: calc(100% - 175px);
	width: 25%;
	border-radius: 25px;
}